.confirm-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .confirm-info {
    display: flex;
    flex-direction: column;

    .confirm-headline {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .button-action {
    display: flex;
    gap: 0.5rem;

    button {
      padding: 0.5rem 1rem;
      border: none;
      cursor: pointer;
      color: white;
      font-weight: 500;
      border-radius: 6px;

      &:hover {
        opacity: 0.8;
      }
    }

    .confirm {
      background-color: #f67009;
    }

    .cancel {
      background-color: red;
    }
  }
}

