.success-container {
  .success-headline {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: #f67009;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin: 1rem 0;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }

  .success-info {
    display: flex;
    flex-direction: column;

    .success-title {
      font-weight: 300;
      margin-bottom: 0.15rem;
    }

    .success-data {
      font-weight: 900;
      color: #f67009;
    }
  }
}

